<!-- Counters -->
<p class="ntg-total-message-count">Total Messages: {{ infoCounters.totalCount }}</p>
<p class="ntg-unread-message-count">Unread Messages: {{ infoCounters.unreadCount }}</p>
<p class="archived-message-count">Archived Messages: {{ infoCounters.archivedCount }}</p>

<!--Search-->
<div class="ntg-message-search">
    <input type="text" ng-model="ntgsearch" placeholder="Search..." class="ntg-search-bar">
</div>

<!--Message Filters / Organization-->
<div class="ntg-message-filters">
    <select ng-model="ntgAttrs">
        <option value="date" class="ntg-filter-option">Recent</option>
        <option value="-date" class="ntg-filter-option">Oldest</option>
        <option value="-status" class="ntg-filter-option">Unread</option>
        <option value="from" class="ntg-filter-option">From: A-Z</option>
        <option value="-from" class="ntg-filter-option">From: Z-A</option>
        <option value="-priority" class="ntg-filter-option">Urgent</option>
    </select>
</div>

<!--ng-repeat Example With Nested Directives-->
<div class="ntg-message-list-container">
    <div ng-repeat="msg in message.allMessages | filter: ntgsearch | orderBy: ntgAttrs" class="messages" mark-priority="markPriority(msg)" ng-class="{ntgurgentmessage: msg.priority == true}">
        <input type="checkbox" ng-click="selectMessage(msg)" value={{msg}}/>
        <ntg-message-list messages="msg" message-status="msg.status" message-priority="msg.priority" from-who="msg.from" subject="msg.subject" date="msg.date" details="msg.body" archive-message="archiveMessage(msg)" mark-as="markAs(msg)" check-priority="checkPriority(msg)" selected-messages="selectMessage(msg)" read-message="readMessage(msg)"></ntg-message-list>
    </div>
</div>


<!--Non-nested details directive-->
<hr>
<h2>Non-nested details directive:</h2>
<hr>
<div ng-repeat="msg in message.allMessages | filter: ntgsearch | orderBy: ntgAttrs" class="messages" ng-class="{ntgurgentmessage: msg.priority == true}">
    <ntg-message-details messages="msg"></ntg-message-details>
</div>