<p>Total Messages: {{ infoCounters.totalCount }}</p>
<p>Unread Messages: {{ infoCounters.unreadCount }}</p>
<p>Archived Messages: {{ infoCounters.archivedCount }}</p>

<div class="ntg-message-search">
    <input type="text" ng-model="ntgsearch" placeholder="Search...">
</div>
<div class="ntg-message-filters">
    <select ng-model="ntgAttrs">
        <option value="date">Newest</option>
        <option value="-date">Oldest</option>
        <option value="from">From: A-Z</option>
        <option value="-from">From: Z-A</option>
        <option value="-priority">Urgent</option>
    </select>
</div>


<div class="ntg-message-list-container">
    <div ng-repeat="msg in message.allMessages | filter: ntgsearch | orderBy: ntgAttrs" class="messages">

        <ntg-message-list message-info="msg"></ntg-message-list>

        <ntg-message-summary current-message="msg" from-who="msg.from" subject="msg.subject" date="msg.date" details="msg.body" archive-message="archiveMessage(msg)">
        </ntg-message-summary>

        <br>

    </div>
</div>


<p>Working on:</p>